{% if activity_count or activity_rating_count %}
<div class="alert alert-warning">
	<strong>You have unsaved data!</strong> <a href="/accounts/login">Log in</a> or <a href="/accounts/register">Sign up</a> to save your data.
</div>
{% else %}
{% if not request.user.is_authenticated %}
<div class="container-fluid">
<h1>Welcome to MoodToolkit</h1>
		<div class='col-md-6'>
		Feel free to check try this site out.  To see an explanation of how to use the site, check out <a href="/info/patients">our introduction</a>.  
		You can also <a href="/accounts/login">Log in</a> or <a href="/accounts/register">Sign up</a>.
		</div>
</div>
{% endif %}
{% endif %}