{% if request.user.is_authenticated %}
	<div id="logged_in">
		<span id="log_in" class="top_bar_text">Welcome <a href="">{{request.user.username}}</a>, you are now logged in! <a href="/accounts/logout/">Sign Out</a></span>
	</div>
{% else %}
	<span id="log_in">
	<form action="/accounts/login/" method="POST">
		{% csrf_token %}
		<input id="id_username" type="text" class="form-control" maxlength="20" name="username" placeholder="username">
		<input id="id_password" type="password" class="form-control" maxlength="20" name="password" placeholder="password">
		<input type="submit" class="topbar_submit" value="Log In"/>
		<a class="topbar_submit" href="/accounts/register/">Sign Up</a>
	</form>
	</span>
{% endif %}
