{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block navigation %}
		    <a class="navbar-brand" href="/">MoodToolkit</a>
		    <a class='navbar-brand' href='/activity/choose'>Choose Activity</a>
		    <a class='navbar-brand' href='/activity/edit/'>Edit Activities</a>
		    <a class='navbar-brand' href='/activity/history'>Activity History</a>
		    <a class='navbar-brand' href='/activity/data'>Summary</a>
		    <a class='navbar-brand' href='/blog'>Blog</a>
{% endblock %}
{% block content %}
{% endblock %}