{% extends 'activity/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Choose Activity {% endblock %}
{% block content %} 
		{% include 'registration/login_invitation.html' %}
		<h1>Choose an Activity</h1>
		<div class="container-fluid">
		<div class="col-md-6">Rate how you feel before the activity.  Once you're done with the activity, you'll have another chance to rate how you feel so you can see how the activity affects your mood.
		</div>
		</div>
		<br/>
		<div class="col-md-4">
		<form action="/activity/choose/" method="post">
			{% csrf_token %}
			<fieldset>
			{{aform|crispy}}
			<br/>
		    <input type="submit" class="btn btn-large btn-primary" value="Select Activity"/>
			</fieldset>
		</form>
		</div>
{% endblock %}