{% extends 'activity/base.html' %}
{% block title %} Activity Data {% endblock %}
{% block content %} 
	{% include 'registration/login_invitation.html' %}
	<h1>How Different Activities Affect Your Mood</h1>
	
	<h2>Best Activities for Your Mood</h2>
	<table class="table table-striped">
	<thead>
		<tr>
			<td>Activity</td><td>Average Increase in Mood</td><td>Number of times you've done this activity</td>
		</tr>
	</thead>
	<tbody>
		{% for act in best_activities|slice:":7" %}
		<tr>
		<td><a href="/activity/detail/{{act.id}}">{{act.activity}}</a></td><td>{{act.moodChange}}</td><td>{{act.count}}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	<h2>Activities Which Are Not as Good For Your Mood</h2>
	<table class="table table-striped">
	<thead>
		<tr>
			<td>Activity</td><td>Average Decrease in Mood</td><td>Number of times you've done this activity</td>
		</tr>
	</thead>
	<tbody>
		{% for act in worst_activities|slice:":7" %}
		<tr>
		<td><a href="/activity/detail/{{act.id}}">{{act.activity}}</a></td><td>{{act.moodChange}}</td><td>{{act.count}}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	
	
	<!--
	<h2>Best Mood This Week</h2>
	<table class="table table-striped">
	<thead>
		<tr>
			<td>Activity</td><td>Initial Mood</td><td>Final Mood</td><td>Description</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
	</table>
	<h2>Worst Mood This Week</h2>
	<table class="table table-striped">
	<thead>
		<tr>
			<td>Activity</td><td>Initial Mood</td><td>Final Mood</td><td>Description</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
	</table>
	-->
	<a class="btn btn-primary" href="/activity/data">See Additional Data</a>
{% endblock %}