{% extends 'activity/base.html' %}
{% block title %} {{activity.name}} {% endblock %}
{% block content %} 
		{% include 'registration/login_invitation.html' %}
		<button class="btn btn-primary">Add New Activity</button>
		<table class="table table-striped">
		<thead><tr><td>Activity</td><td>Tags</td><td>Number of times you've done this activity</td><td>Action</td></tr></thead>
		<tbody>{% for activity in actList %}
			<tr><td>{{activity.activity}}</td><td>{{activity.tags}}</td><td>{{activity.count}}</td><td><a>edit</a> <a>delete</a></td></tr>
		{% endfor %}
		</tbody>
		</table>
{% endblock %}