{% extends 'activity/base.html' %}
{% block title %} Choose Activity {% endblock %}
{% block content %} 
		{% include 'registration/login_invitation.html' %}

		 <h1>History</h1>
		<table class="table table-striped table-bordered table-condensed">
		<tr>
		<td>
			Date
		</td>
		<td>
			Feeling Before
		</td>
		<td>
			Activity
		</td>
		<td>
			Mood Before
		</td>

		<td>
			Mood After
		</td>
		<td>
			Did you enjoy it?
		</td>
		<td>
			Glad you did it?
		</td>
		<td>
			Note
		</td>
		</tr>
		{% for r in ratings %}
		<tr>
		<td>
			{{r.preDateTime}}
		</td>
		<td>
			{{r.get_feeling_display}}
		</td>
		<td>
			<a href="/activity/detail/{{r.activity.pk}}">{{r.activity}}</a>
		</td>
		<td>
			{{r.preMood}}
		</td>
		<td>
			{{r.postMood}}
		</td>
		<td>
			{{r.feltBetter}}
		</td>
		<td>
			{{r.goodChoice}}
		</td>
		<td>
			{{r.comment}}
		</td>
		</tr>
		{% endfor %}
		</table>
{% endblock %}