{% extends 'navbase.html' %}
{% block title %} MoodToolkit {% endblock %}
{% block content %}
	<div class='col-md-6'>
	<h1>What is MoodToolkit?</h1>
	<br/>
	MoodToolkit is a website designed to help people with anxiety and depression.  
	When you are feeling bad, it can be hard to motivate yourself to do anything, even activities like exercise that might make you feel better.  
	<br/>
	MoodToolkit helps you keep track of the different activities you do and how they affect your mood.  Then you can find out which activities are most helpful in making you feel better.  
	Check out the <a href="/blog">MoodToolkit blog</a> for more ideas on how to use MoodToolkit.

	<h1>How does MoodToolkit work?</h1>
	<a href="/activity">Choose an activity</a>.  Then use the website to record how you feel before the activity, then record how you feel after the activity.
	<a href="/accounts/login">Log in</a> or <a href="/accounts/register">Sign up</a> to save your data.
	<br/><br/>
	Over time, MoodToolkit will keep track of which activities result in the biggest boost in your mood.  

	You can check out a <a href="/activity/summary">summary</a> of how different activities affect you at MoodToolkit Summary.  If you want, you can share this summary with your therapist or physician to help them give you better care.  
	<br/><br/>
	<a class="btn btn-primary col-md-4" href="/activity/">Try it out!</a>
	<a class="btn btn-info pull-right" href="/accounts/register">Sign Up For An Account</a>
	</div>
{% endblock %}
