{% extends 'navbase.html' %}
{% block title %} MoodToolkit {% endblock %}
{% block content %}
	<div class='col-md-6'>
	<h1>What is MoodToolkit?</h1>
	<br/>
	MoodToolkit is a website designed to help people with anxiety and depression.  When a person is feeling bad, it can be hard to motivate themselves to do anything, even activities like exercise that might make them feel better.  
	<br/>
	MoodToolkit helps you and your patient keep track of the different activities they do and how they affect your patient's mood.  Then you can find out which activities are most helpful in making your patient feel better.  

	<h1>How does MoodToolkit work?</h1>
	<a href="/activity">Choose an activity</a>.  Then use the website to record how you feel before the activity, then record how you feel after the activity.
	<a href="/accounts/login">Log in</a> or <a href="/accounts/register">Sign up</a> to save your data.
	<br/><br/>
	Over time, MoodToolkit will keep track of which activities result in the biggest boost in your mood.  

	You can check out a <a href="/activity/data">summary</a> of how different activities affect you at MoodToolkit Summary.  If you want, you can share this summary with your therapist or physician to help them give you better care.  
	<br/><br/>
	<a class="btn btn-primary" href="/activity/">Try it out!</a>

	</div>
{% endblock %}
