{% extends 'navbase.html' %}
{% block title %} MoodToolkit {% endblock %}
{% block content %}
	<div class='col-md-6'>
	<h1>What is MoodToolkit?</h1>
	<br/>
	MoodToolkit is a website designed to help people with anxiety and depression.  When a person is feeling bad, it can be hard to motivate themselves to do anything, even activities like exercise that might make them feel better.  
	<br/>
	MoodToolkit helps you and your patients keep track of the different activities they do and how they affect your patients' mood.  Then you can find out which activities are most helpful in making your patients feel better.  
	Check out the <a href="/blog">MoodToolkit blog</a> for more ideas on how to use MoodToolkit.

	
	<h1>How does MoodToolkit work?</h1>
	Have your patients <a href="/accounts/register">sign up</a>.  You can do this together, or you can have them do this on their own.  
	<br/>
	Next, work with your patients to choose several activities which might help them cope with anxiety or depression.  Once they are logged in, they can <a href="/activity/edit/">add these activities</a>.
	Next time your patient wants to do an activity and is wondering whether this activity will help their mood, they can follow these steps:  
	<br/><a href="/activity">Choose an activity</a>.  Use the website to record how they feel before the activity, then record how they feel after the activity.
	<a href="/accounts/login">Log in</a> or <a href="/accounts/register">Sign up</a> to save their data.
	<br/><br/>
	Over time, MoodToolkit will keep track of which activities result in the biggest boost in your patients' mood.  

	As your patients complete activities, MoodToolkit creates a <a href="/activity/summary">summary page</a> of how different activities affect them.  You can look this page over with your patients, and it may be able to help you better plan their care.    
	<br/><br/>
	<a class="btn btn-primary col-md-4" href="/activity/">Try it out!</a>
	<a class="btn btn-info pull-right" href="/accounts/register" style="margin-bottom:50px;">Help Your Patient Sign Up For An Account</a>
	</div>
{% endblock %}
