#logged_in {
	margin-top:5px;
}
#log_in {
	float:right;
	color:white;
}

#log_in form {
	margin: 5px;
}

#log_in input {
	width:100px;
	cursor:text;
}

#log_in input.topbar_submit {
	background-color:inherit;
	border:none;
	border-radius:0px;
	box-shadow:none;
	-moz-transition:none;
	color: #BFBFBF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	cursor:pointer;
	padding:4px 0px;
	width:auto;
} 

#log_in input.topbar_submit:hover {
	text-decoration: underline;
}

#log_in a {
	cursor:pointer;
}