{% load staticfiles %}

<!DOCTYPE html>
    <html>
    <head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'mystyle.css' %}" rel="stylesheet" media="screen">
    </head>
    <body>
    	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			{% block navigation %} {% endblock %}
			test
			{% include "registration/login_message.html" %}
		</div>
	</div>
	<div class="container">
		 {% block content %} {% endblock %}
	</div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
    </html>