{% extends 'navbase.html' %}
{% block title %} MoodToolkit {% endblock %}
{% block content %}
	<div class='col-md-6'>
	<h1>Welcome to MoodToolkit</h1>
		<p>
		This site helps you identify the activities that most improve your mood.  Just pick an activity, then share how you feel before and after the activity.  
		This website will keep track of whether the activity improves your mood.  You can also compare activities to see which activity is best at improving your mood.  
		<br/>
		Click one of the buttons below to learn more.  
		<br/><br/>
		<a  href="/info/patients" class="btn btn-primary">For Patients</a><a href="/info/providers" class="btn btn-primary col-md-offset-2">For Providers</a>
		</p>
	</div>
{% endblock %}
